@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

:root {
  --primary-color: #fab12e;
  --secondary-color: #e2a02a;
  --third-color:#c58716;
  --font-size: 16px;
  --background-color: #292929;
}


body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #333;
  line-height: 1.6;
}